XTerm*metaSendsEscape: true
XTerm*visualBell: true
XTerm*faceName: DejaVu Sans Mono Book
XTerm*faceSize: 11
XTerm*vt100*geometry: 80x43
XTerm*font: -*-terminus-*-r-*-*-12-*-*-*-*-*-iso10646-*
emacs*font: terminus
XTerm*utf8: 1
XTerm*locale: true
XTerm*loginShell: true
XTerm*background: black
XTerm*foreground: gray
XTerm*selectToClipboard: true
XTerm*scrollTtyOutput: false
